#productos_1 {
    align-items: center;
    color: rgb(220, 224, 240);
    background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)), url(/Imagenes/tcg_fondo_1.jpg);
    background-size: cover;
    display: flex;
    height: 300px;
    justify-content: center;
    margin: auto;
    margin-top: 35px;
    text-align: center;
    width: 100%;
  }
  
  .fondo_titulo {
    background-color: rgba(196, 196, 196, 0.45);
    width: 100%;
  }
  
  #productos_1 h2 {
    font-weight: lighter;
    height: 50px;
    padding-top: 9px;
    width: 100%;
  }